<tr class="person row<f:if condition="{iterator.isLast}==1"> last</f:if>">
  <f:if condition="{data.tx_personnel_images} == 0">
    <td class="image">
    <f:if condition="{person.files.0}">
      <f:then>
        <f:image image="{person.files.0}" cropVariant="{data.tx_personnel_cropratio}" class="person" fileExtension="{settings.forceImageFileFormat}" loading="{f:if(condition: '!{data.tx_imagelazyload}', then: 'lazy')}" width="{settings.tableImageWidth}" alt="{person.data.firstname} {person.data.lastname}" additionalAttributes="{srcset: '{f:uri.image(image:\'{person.files.0}\', width:\'{tableImageWidth_x2}\', cropVariant:\'{data.tx_personnel_cropratio}\', fileExtension:\'{settings.forceImageFileFormat}\')} 2x'}" />
    </f:then>
      <f:else>
        <f:if condition="{settings.enableDummyImage}">
          <f:image src="EXT:personnel/Resources/Public/Images/clear.png" class="dummy person" width="{settings.tableImageWidth}" height="{settings.tableImageHeight}" alt="{person.data.firstname} {person.data.lastname}" />
        </f:if>
      </f:else>
    </f:if>
  </td>
  </f:if>
  <td class="name">
    {person.data.title} {person.data.firstname} {person.data.lastname}
  </td>
  <td class="profession">
    {person.data.profession}
  </td>
  <td class="phone">
      <f:if condition="{person.data.phone}"><a class="person-phone" href="tel:{person.data.phone}">{person.data.phone}</a></f:if>
  </td>
  <td class="email">
    <f:if condition="{person.data.email}">
      <f:link.email class="person-email" email="{person.data.email}">
        {person.data.email}
      </f:link.email>
    </f:if>
  </td>
  <f:if condition="{data.tx_personnel_vcard} == 0">
    <td class="vcard">
      <f:link.page class="person-vCard" pageType="888" additionalParams="{person: '{person.data.uid}'}" additionalAttributes="{download: '{person.data.firstname}_{person.data.lastname}.vcf'}">vCard</f:link.page>
    </td>
  </f:if>
</tr>
