/* by t3brightside.com */

	.personnel {width: 100%; float: left}
	.personnel-item {
		box-sizing: border-box;
		margin: 1em 0; 
		position: relative;
		width: 21.3%;
		float: left;
		transition-property:width;
		-moz-transition-property: width;
		-webkit-transition-property:width;
		-o-transition-property:width;
		transition-duration: 0.2s;
		-moz-transition-duration: 0.2s;
		-webkit-transition-duration: 0.2s;
		-o-transition-duration: 0.2s;
	}
	.personnel-item a {display: block}
	.personnel-item img {width: 100%; height: auto; margin-bottom: 1.4em}
	.personnel-item h2 {font-size: 1.143em; margin: 0; padding: 0}
	.personnel-space {width: 4.93%; float: left; height: 1em;}
	.personnel-space:nth-child(8n) {width: 100%}
	
/* less columns for smaller screens */	
	@media screen and (max-width: 1100px){
		.personnel-item {width: 30%}
		.personnel-space:nth-child(3n) {width: 100%}
		.personnel-space:nth-child(8n) {width: 5%}
	}
	@media screen and (max-width: 760px){
		.personnel-item {width: 47.5%}
		.personnel-space:nth-child(2n) {width: 5%}
		.personnel-space:nth-child(4n) {width: 100%}
	}
	@media screen and (max-width: 420px){
		.personnel-item {width: 100%}
		.personnel-space {display: block; width: 100%}
	}