<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Main">
	<f:variable name="cardImageWidth_x2">{settings.cardImageWidth * 2}</f:variable>
	<f:variable name="cardImageHeight_x2">{settings.cardImageHeight * 2}</f:variable>
	<f:variable name="listImageWidth_x2">{settings.listImageWidth * 2}</f:variable>
	<f:variable name="listImageHeight_x2">{settings.listImageHeight * 2}</f:variable>
	<f:variable name="tableImageWidth_x2">{settings.tableImageWidth * 2}</f:variable>
	<f:variable name="tableImageHeight_x2">{settings.tableImageHeight * 2}</f:variable>
	<f:if condition="{data.tx_personnel_template} == 0">
		<div class="personnel cards template-{data.tx_personnel_template}<f:if condition=" {data.tx_personnel_images}==1"> noimages</f:if>">
		<f:for each="{personnel}" as="person" iteration="iterator">
			<f:render partial="Card" arguments="{_all}" />
		</f:for>
		<f:if condition="{pagination.numberOfPages} > 1">
			<f:render partial="Pagination" arguments="{_all}" />
		</f:if>
	</div>
	</f:if>
	<f:if condition="{data.tx_personnel_template} == 1">
		<div class="personnel list template-{data.tx_personnel_template}<f:if condition=" {data.tx_personnel_images}==1"> noimages</f:if>">
	<f:for each="{paginatedPersons}" as="person" iteration="iterator">
		<f:render partial="List" arguments="{_all}" />
	</f:for>
	<f:if condition="{pagination.numberOfPages} > 1">
		<f:render partial="Pagination" arguments="{_all}" />
	</f:if>
	</div>
	</f:if>
	<f:if condition="{data.tx_personnel_template} == 2">
		<div class="personnel table template-{data.tx_personnel_template}<f:if condition=" {data.tx_personnel_images}==1"> noimages
	</f:if>">
	<table>
		<tr>
			<f:if condition="{data.tx_personnel_images} == 0">
				<th>Image</th>
			</f:if>
			<th>Name</th>
			<th>Profession</th>
			<th>Phone</th>
			<th>E-mail</th>
			<f:if condition="{data.tx_personnel_vcard} == 0">
				<th>vCard</th>
			</f:if>
		</tr>
		<f:for each="{paginatedPersons}" as="person" iteration="iterator">
			<f:render partial="Table" arguments="{_all}" />
		</f:for>
	</table>
	<f:if condition="{pagination.numberOfPages} > 1">
		<f:render partial="Pagination" arguments="{_all}" />
	</f:if>
	</div>
	</f:if>
</f:section>

</html>
