<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />
	<f:section name="Main">
		<f:if condition="{data.tx_personnel_template} == 0">
			<div class="personnel cards template-{data.tx_personnel_template}">
				<f:if condition="{data.tx_personnel_paginate} == 1">
					<f:then>
						<f:widget.paginate objects="{personnel}" as="paginatedPersons" configuration="{itemsPerPage: '{personnelPaginationItems}', insertAbove: 0, insertBelow: 1, maximumNumberOfLinks: '{settings.paginationLinks}'}">
							<f:for each="{paginatedPersons}" as="person" iteration="iterator">
								<f:render partial="Card" arguments="{_all}" />
							</f:for>
						</f:widget.paginate>
					</f:then>
					<f:else>
						<f:for each="{personnel}" as="person" iteration="iterator">
							<f:render partial="Card" arguments="{_all}" />
						</f:for>
					</f:else>
				</f:if>
			</div>
		</f:if>
		<f:if condition="{data.tx_personnel_template} == 1">
			<div class="personnel list template-{data.tx_personnel_template}">
				<f:if condition="{data.tx_personnel_paginate} == 1">
					<f:then>
						<f:widget.paginate objects="{personnel}" as="paginatedPersons" configuration="{itemsPerPage: '{personnelPaginationItems}', insertAbove: 0, insertBelow: 1, maximumNumberOfLinks: '{settings.paginationLinks}'}">
							<f:for each="{paginatedPersons}" as="person" iteration="iterator">
								<f:render partial="List" arguments="{_all}" />
							</f:for>
						</f:widget.paginate>
					</f:then>
					<f:else>
						<f:for each="{personnel}" as="person" iteration="iterator">
							<f:render partial="List" arguments="{_all}" />
						</f:for>
					</f:else>
				</f:if>
			</div>
		</f:if>
		<f:if condition="{data.tx_personnel_template} == 2">
			<div class="personnel table template-{data.tx_personnel_template}">
				<f:if condition="{data.tx_personnel_paginate} == 1">
					<f:then>
						<f:widget.paginate objects="{personnel}" as="paginatedPersons" configuration="{itemsPerPage: '{personnelPaginationItems}', insertAbove: 0, insertBelow: 1, maximumNumberOfLinks: '{settings.paginationLinks}'}">
							<table>
								<tr>
									<f:if condition="{data.tx_personnel_images} == 0"><th>Image</th></f:if>
									<th>Name</th>
									<th>Profession</th>
									<th>Phone</th>
									<th>E-mail</th>
									<f:if condition="{data.tx_personnel_vcard} == 0"><th>vCard</th></f:if>
								</tr>
								<f:for each="{paginatedPersons}" as="person" iteration="iterator">
									<f:render partial="Table" arguments="{_all}" />
								</f:for>
							</table>
						</f:widget.paginate>
					</f:then>
					<f:else>
						<table>
							<tr>
								<f:if condition="{data.tx_personnel_images} == 0"><th>Image</th></f:if>
								<th>Name</th>
								<th>Profession</th>
								<th>Phone</th>
								<th>E-mail</th>
								<f:if condition="{data.tx_personnel_vcard} == 0"><th>vCard</th></f:if>
							</tr>
							<f:for each="{personnel}" as="person" iteration="iterator">
								<f:render partial="Table" arguments="{_all}" />
							</f:for>
						</table>
					</f:else>
				</f:if>
			</div>
		</f:if>
	</f:section>
</html>
