<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />
	<f:section name="Main">
		<f:if condition="{data.tx_personnel_template} == 0">
			<div class="personnel cards template-{data.tx_personnel_template}">
				<f:if condition="{data.tx_personnel_paginate} == 1">
					<f:then>
						<f:widget.paginate objects="{personnel}" as="paginatedPersons" configuration="{itemsPerPage: '{personnelPaginationItems}', insertAbove: 0, insertBelow: 1, maximumNumberOfLinks: '{settings.paginationLinks}'}">
							<f:for each="{paginatedPersons}" as="person" iteration="iterator">
								<f:render partial="Card" arguments="{_all}" />
							</f:for>
						</f:widget.paginate>
					</f:then>
					<f:else>
						<f:for each="{personnel}" as="person" iteration="iterator">
							<f:render partial="Card" arguments="{_all}" />
						</f:for>
					</f:else>
				</f:if>
			</div>
		</f:if>
			<f:if condition="{data.tx_personnel_template} == 1">
				<ul class="personnel list template-{data.tx_personnel_template}">
					<f:for each="{personnel}" as="person" iteration="iterator">
						<f:render partial="List" arguments="{_all}" />
					</f:for>
				</ul>
			</f:if>
		</div>
	</f:section>
</html>
